.fields {
	color: #A39594 !important;
	margin: 30px 0px;
}

.form-control {
	width: 100% !important;
}

.form-control::-webkit-input-placeholder {
	color: #A39594;
}

.recipe-subtitles {
	color: #A39594;
	margin-top: 30px;
}

.add-button {
	background-color: #CEC4C2;
	border: 0;
	margin-bottom: 10px;
}

.add-button:hover {
	background-color: #A39594
}

.col {
	padding-left: 0;
}

.remove-button {
	background-color: #CEC4C2;
	border: 0;
}

.remove-button:hover {
	background-color: #A39594
}

.submit-button {
	background-color: #E75B00;
	border: 0;
	width: 100%;
	padding: 20px 30px;
	margin-top: 30px;
}

.submit-button:hover {
	background-color: #ca4f00;
}