.filter-container {
	top: 5em;
	height:4.5em;
	display: block;
	align-content: center;
	background-image: url('../assets/patterns/subtle_white_feathers.png');
	border-top: solid 6px black;
	border-bottom: solid 6px black;
}

.dropdown-item:focus {
	box-shadow: none;
	background-color: rgb(221, 221, 221);
  border-color: white;
}

.dropdown-item:active {
	box-shadow: none;
	background-color: rgb(221, 221, 221);
  border-color: white;
}

.dropdown-toggle {
	background-image: url('../assets/patterns/subtle_white_feathers.png');
	border: none;
	color: black;
	font-weight: bold;
}

.navbar-light {
	color:black;
	font-weight:500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color:black;
	font-weight:500;
}

.filterbar {
	top: 5.5em;
	font-weight: bold;
	color: black;
	align-content: center;
}