.submit-btn {
	margin: 0.5rem 0;
	padding: 0.5rem 2rem;
}

.submit-area {
	text-align: center;
}

.no-account-info {
	font-size: 13px;
}

.signup-btn {
	color: #50a7ff;
	background-color: white;
	border: 0;
}

.signup-btn:hover {
	color: #1187ff;
	text-decoration: underline;
}