.btn-outline-create-recipe-button {
	background-color:  rgb(200, 202, 53);
	border-color: rgb(200, 202, 53);
	color: white;
}

.btn-outline-create-recipe-button:hover {
	background-color: rgb(184, 187, 29);
	color: white;
}

/* .btn-search-button {
	background-color: #E75B00;
	color: white;
}

.btn-search-button:hover {
	background-color: #d65400;
	color: white;
} */

.dropdown-menu {
	right: 0;
	left: auto;
}

.logo-image{
	height: 46px;
	margin-left: 40px;
}

.form-inline {
	width: 400px;
}

.form-control {
	width: 400px !important;
}
	
.navbar {
	padding: 8px 15px;
	background-color: white;
	border-bottom: solid rgb(214, 214, 214) 1px;
}