.btn-outline-create-recipe-button {
	color:rgb(83, 75, 69);
	border-color: rgb(83, 75, 69);
}

.btn-outline-create-recipe-button:hover {
	background-color: rgb(97, 86, 78);
	color: white;
}

.dropdown-menu {
	right: 0;
	left: auto;
}

.logo-image{
	height: 46px;
}

.form-inline {
	width: 400px;
}

.form-control {
	width: 400px !important;
}
	
.navigation-bar {
	height: 5.4em;
	padding: 8px 15px;
	background-image: url('../assets/patterns/subtle_white_feathers.png');
	border-bottom: solid rgb(20, 20, 20) 6px;
}