.btn-outline-create-recipe-button {
	background-color:rgb(164, 190, 19);
	color: white;
}

.btn-outline-create-recipe-button:hover {
	background-color: rgb(175, 207, 30);
	color: white;
}

.dropdown-menu {
	right: 0;
	left: auto;
}

.dropdown-item.active {
	background-color: white;
	color: black;
}

.dropdown-item:hover {
	background-color: #f8f9fa;
}

.logo-image {
	height: 46px;
	margin-left: 3em;
}

.fixed-top {
	z-index: 1000 !important
}

.form-inline {
	width: 250px;
}

.form-control:focus {
	box-shadow: none;
	border: solid rgb(233, 233, 233) 1px;
}

.form-control {
	box-shadow: none;
	width: 400px !important;
	border: solid rgb(233, 233, 233) 1px;
}
	
.navigation-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5.4em;
	padding: 8px 15px;
	background-image: url('../assets/patterns/subtle_white_feathers.png');
	border-bottom: solid rgb(20, 20, 20) 6px;
}