
.profile-recipe-list-card {
	background-color:white ;
	height: 26em;
	width: 30em;
	padding: 1em 3em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

.profile-recipe-list-card:hover {
	cursor:pointer;
}

.profile-recipe-list-card-img {
	height: 15em;
	margin-bottom: 1em;
	object-fit: cover;
}
