.recipe-list-card {
	background-color:white ;
	height: 22em;
	width: 21em;
	padding: 1em;
	margin: 1em;
}

.recipe-list-card:hover {
	transform: scale(1.02);
	cursor: default;
}

.recipe-list-card-img {
	height: 10em;
	margin-bottom: 1em;
	object-fit: cover;
}

.recipe-list-card-img:hover {
	cursor: pointer;
}

.card-author {
  color: #3C3C3C;
}

.card-author:hover {
  color:#3C3C3C;
}

.card-title {
	color: #3C3C3C;
}

.card-title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.card-text {
	color: #3C3C3C;
}

.recipe-info-container {
	display: flex;
	justify-content: space-between;
	color: gray;
}

.info-text {
	margin-top:0.3em;
	font-size: 0.7em;
}