.card:hover {
  cursor: pointer;
}

.card {
	background-color:white ;
	height: 22em;
	padding: 1em;
	margin: 1em;
}

.card-img {
	height: 10em;
	margin-bottom: 1em;
}

.card-author {
  color: #3C3C3C;

}

.card-author:hover {
  color:#3C3C3C;
}

.card-title {
	color: #3C3C3C;
}

.card-text {
	color: #3C3C3C;
}

.card-columns {
	width: 65em;
}
