
.main-image {
	padding: 40px;
	max-width: 100%; 
	max-height: 100%; 
	height: auto;
	border-radius: 45px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.recipe-card-title {
	font-size:2em;
	margin-top: -1.2em;
}

.recipe-lesser-title {
	margin-top: 2em;
	margin-bottom: 1em;
}

.recipe-card {
	background-color:white;
	padding: 3em 4em;
	margin: auto;
	height: auto;
	width: 50em;
}

.recipe-card:hover {
  cursor: default;
}

.recipe-card-img {
	height: 30em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	object-fit: cover;
}

.card-author {
  color: #3C3C3C;
}

.card-author:hover {
  color:#3C3C3C;
}

.author {
	color:#aa8f54;
}

.author:hover {
	color:#7d6226;
}

.inline {
	display: inline;
}

.description {
	margin-top: -20px;
}

.recipe-star-ratings {
	margin-top: 1.5em;
	margin-left: 0em;
}

.rating-by {
	margin-left: 0em;
	margin-top: -0.5em;
	margin-bottom: 1em;
	color:rgb(94, 94, 94);
	font-size: 0.6em;
}

.single-rating {
	margin-right: 6em;
}

.bookmark {
	color: lightgray;
	margin-top:1em;
	margin-bottom: 0em;
	align-self: right;
	margin-left:36.5em;
	cursor: pointer;
}
