.comment {
	padding: 1rem;
	background-color: #fafafa;
}

.comment-author {
	font-size: 1rem;
	vertical-align: middle;
}

.comment-body {
	color: #898989 !important;
	font-size: 0.8rem;
}

.comment-date {
	padding-left: 0.6rem;
	font-size: 0.6rem;
}

.comment-header {
	margin-bottom: 0.4rem;
}

.comment-box {
	display: flex;
	justify-content: space-between;
}

.recipe-text {
	cursor: text;
}

.main-image {
	padding: 40px;
	max-width: 100%; 
	max-height: 100%; 
	height: auto;
	border-radius: 45px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.recipe-card-title {
	font-size:2em;
}

.recipe-lesser-title {
	margin-bottom: 1em;
}

.recipe-card {
	background-color:white;
	padding: 3em 4em;
	margin: auto;
	height: auto;
	width: 50em;
}

.recipe-card:hover {
  cursor: default;
}

.image-and-icons {
	width: 70%;
	margin-bottom: 2rem;
}

.recipe-card-img {
	height: 30em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	object-fit: cover;
}

.card-author {
  color: #3C3C3C;
}

.card-author:hover {
  color:#3C3C3C;
}

.author {
	color:#aa8f54;
}

.author:hover {
	color:#7d6226;
}

.menu {
	margin-right: -0.6em;
	float: right;
}

.menu-icon {
	margin-bottom: 0.5rem 0 1rem 0;
	width: 1.4em;
	height: 1.4em;
}

.inline {
	display: inline;
}

.description {
	margin-top: -20px;
}

.recipe-star-ratings {
	margin-top: 1em;
	margin-left: 0em;
}

.rating-by {
	margin-left: 0em;
	margin-top: -0.5em;
	margin-bottom: 1em;
	color:gray;
	font-size: 0.6em;
}


.single-rating {
	margin-right: 6em;
}

.bookmark {
	margin-left: 0.8em;
	color: lightgray;
	cursor: pointer;
}

.sub-title {
	cursor: text;
}

.sub-title:hover {
	text-decoration: none;
	cursor: text;
}

.post-button {
	height: 4em;
	width: 4em;
	margin-left: 1em;
	background-color: #a4be13;
	border: 0;
	color: white;
}

.post-button:hover {
	height: 4em;
	width: 4em;
	margin-left: 1em;
	background-color: #afca15;
	border: 0;
	color: white;
}

.comment-container {
	display: flex;
}

.p.card-text {
	margin-bottom: 0em;
}