
.recipe-list-card-columns {
		margin-top: 1.5em;
		width: 80em;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.search-results {
		color: #606060;
		margin: 1em;
		font-size: 1.3em;
		margin-right: 7em;
	}