
.profile-card-img {
	height: 20em;
	margin-bottom: 1.5em;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.profile-card {
	background-color:white;
	padding: 3em 4em;
	margin: auto;
	height: auto;
	width: 50em;
}

.profile-title {
	text-align: center;
	margin-top: 2em;
}

.profile-username {
	text-align: center;
	margin-bottom: 2em;
}

.profile-tabs {
	justify-content: space-evenly;
	border: 0px;
	color: #3C3C3C;
	outline: none;
	margin-left: -2.5em;
	margin-bottom: 3em;
}

.profile-tab {
	border: none;
	color:#3C3C3C;
	outline: none;
	margin-top: 2em;
}

.nav-link:hover .nav-link:focus {
	border: 0px;
	color: #3C3C3C;
	transform: none;
}

.nav-link {
	border: 0px;
	color: #3C3C3C;
}

.nav-tabs .nav-link.active {
	font-weight: bold;
}

.nav-tabs .nav-link {
	border: none;
	border-top-left-radius: none;
	border-top-right-radius: none;
}

a:hover {
	color: #3c3c3c;
}

