
.profile-card-img {
	height: 20em;
	margin-bottom: 1.5em;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.profile-card {
	background-color:white;
	padding: 3em 4em;
	margin: auto;
	height: auto;
	width: 50em;
}

.profile-title {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	transition: none;
}

.profile-tabs {
	justify-content: space-evenly;
	border: 0px;
	color: red;
	outline: none;
	transition: none;
}

.profile-tab {
	border: 0;
	border: none;
	color: blueviolet;
	border-color: white;
	outline: none;
}

.nav-link:hover {
	border: 0px;
	color: red;
	border-color: white;
	transform: none;
}

.nav-link {
	border: 0px;
	color: red;
	border-color: white;
}

.nav-tabs .nav-link.active {
	border-color: white;
}
