.list-group-item {
	border: 0;
	padding: .3rem 1.25rem;
	color: #584c4b;
}

.list-group-item.active, .list-group-item:hover {
	font-weight: bold;
	background-color: white;
	border: white;
	color: #413938;
}

.sticky-offset {
	top: 73px;
	position: fixed;
}